//Enable responsive 
//對某一個已有的通用類別設定開啟RWD功能
$utilities: map-merge(
  	$utilities, (
  	  	"font-size": map-merge(
  	  	  	map-get($utilities, "font-size"),
  	  	  	( responsive: true ),
  	  	),


  	  	"rounded": (
  	  	  	property: border-radius,
  	  	  	class: rounded,
  	  	  	values: (
  	  	  	  	null: $border-radius,
  	  	  	  	 0: 0,
  	  	  	  	 4: $border-radius-sm,		//4
  	  	  	  	 6: $border-radius,			//6
  	  	  	  	 8: $border-radius-lg,		//8
				12: 12px,
  	  	  	  	16: $border-radius-xl,		//16
  	  	  	  	20: 20px,					//20
				48: 48px,
  	  	  	  	80: 80px,
  	  	  	  	circle: 50%,
  	  	  	  	pill: $border-radius-pill
  	  	  	)
  	  	),

		"rounded-top": (
    	  	property: border-top-left-radius border-top-right-radius,
    	  	class: rounded-top,
    	  	values: ("rounded":vlues)
    	),
    	"rounded-end": (
    	  	property: border-top-right-radius border-bottom-right-radius,
    	  	class: rounded-end,
    	  	values: ("rounded":vlues)
    	),
    	"rounded-bottom": (
    	  	property: border-bottom-right-radius border-bottom-left-radius,
    	  	class: rounded-bottom,
    	  	values: ("rounded":vlues)
    	),
    	"rounded-start": (
    	  	property: border-bottom-left-radius border-top-left-radius,
    	  	class: rounded-start,
    	  	values:  (null: $border-radius,
						 0: 0,
						 4: $border-radius-sm,		//4
						 6: $border-radius,			//6
						 8: $border-radius-lg,		//8
				 		12: 12px,
						16: $border-radius-xl,		//16
						20: 20px,					//20
				 		48: 48px,
						80: 80px,)

    	),

		"width": (
      		responsive: true,
      		property: width,
      		class: w,
      		values: (
      		  15: 15%,
      		  20: 20%,
      		  25: 25%,
      		  30: 30%,
      		  50: 50%,
      		  75: 75%,
			  85: 85%,
      		  100: 100%,
      		  auto: auto
      		)
    	),

		"opacity": (
			property: opacity,
			values: (
			  0: 0,
			  10: .1,
			  25: .25,
			  30: .3,
			  50: .5,
			  75: .75,
			  90: .9,
			  95: .95,
			  100: 1,
			)
		  ),
  	)
);