body{
    margin-top: 104px;
    @include mobile(){
        margin-top: 84px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a{
    color:inherit;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.02em;
}

ol, ul, address  {
    margin-top: 0;
    margin-bottom: 0;
}

p{
    letter-spacing: 0.02em;
    line-height: 1.5;
}
