<footer class="bg-primary footer py-lg-48 py-24">
    <div class="container text-white">
        <div class="d-flex justify-content-between align-items-lg-end align-items-center mb-lg-12 mb-0 flex-lg-row flex-column">         
            <img src="../assets/images/logo-all-white.png" alt="logo-white logo" class="company-logo mb-16 mb-lg-0">
            <div class="social ms-lg-auto mb-6">
                <ul class="d-flex social-list gap-lg-24 gap-16 list-unstyled">
                    <li><a href="#" class="blow-up blow-up-l"><img src="../assets/images/ic-social-fb.png" alt="FB logo"></a></li>
                    <!-- <li><a href="#" class="fz-1 blow-up blow-up-l"><img src="../assets/images/ic_social_ig.png" alt="IG logo"></a></li> -->
                    <li><a href="#" class="blow-up blow-up-l"><img src="../assets/images/ic_social_line.png" alt="Line logo"></a></li>                    
                </ul>
            </div>
        </div>
        <div class=" mb-24 d-flex flex-column align-items-center align-items-lg-start">
            <address class="d-flex align-items-center fs-lg-14 fs-12 mb-8 order-3 order-lg-0">
                <span class="material-symbols-outlined me-8">location_on</span>
                    <div>
                        <span class="d-inline-block">台北市大同區103承德路一段17號19樓之2</span>
                        <span class="d-none d-lg-block">19F.-2, No.17, Sec.1, Chengde Rd., Datong Dist., Taipei City 103, Taiwan(R.O.C)</span>
                    </div>                
            </address>          
            <a class="d-flex align-items-center fs-lg-16 fs-14 mb-8" href="tel:886-(0)2-87855851">
                <span class="material-symbols-outlined me-8">call</span>
                <span>+886-(0)2-87855851</span>
            </a>
            <a class="d-flex align-items-center fs-lg-16 fs-14 mb-8 d-none d-lg-block" href="tel:886-(0)2-87855801">
                <span class="material-symbols-outlined me-8">fax</span>
                <span>+886-(0)2-87855801</span>
            </a>
            <a class="d-flex align-items-center fs-lg-16 fs-14 mb-8" href="mailto:glasses@business.com">
                <span class="material-symbols-outlined me-8">mail</span>
                <span>glasses@business.com</span>
            </a>            
        </div>
        <div class="copyright d-flex flex-column flex-lg-row border-top border-white pt-32 gap-8">
            <p class="fs-lg-16 fs-14 me-auto">Copyright © 2024 商淂行銷顧問有限公司.All rights reserved.</p>
            <a href="#" class="fs-lg-16 fs-14 ms-lg-48 ms-0">隱私權政策</a>
            <a href="#" class="fs-lg-16 fs-14 ms-lg-48 ms-0">服務條款</a>
        </div>
    </div>

</footer>