.footer{
 	.company-logo{
		@include mobile(){
			max-height: $c-logo * 0.7;
		}
	}

	line-height: 18px;

	a{
	  line-height: 20px;
	}
}

.social{
  	img{
  	  width: 48px;
	  
	  @include mobile(){
		// width: 24px;
	  }
  	}
}	