.container{
//   outline: 1px solid green;
}

.navbar-toggler:focus{
   text-decoration: unset;
   outline: unset;
   box-shadow: unset; 
}

.dropdown-item:hover{
    @include pad(){
         border-radius: 10px;
      
    }
}