<!DOCTYPE html>
<html lang="en">
    <head>
      	<meta charset="UTF-8" />
      	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
      	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
      	<title>公司簡介 | Sound</title>
    </head>
    <body>
      	<%- include('./layout/header'); -%>
      	<main class="about">
      	  	<section>
	  			<div class="position-relative mx-lg-0 banner">
	  				<picture class=" ">
	  					<source media="(min-width: 992px)" srcset="../assets/images/about.jpg">
	  					<img src="../assets/images/about-sm.jpg" alt="contact-banner logo" class="w-100">
	  				</picture>
	  				<div class="banner-slogan top-50 start-50 translate-middle container position-absolute text-white d-flex flex-column align-items-center">
	  					<p class="fs-4 fs-sm-2 fw-bolder">不必最大，但要最好</p>
	  				</div>					
	  			</div>
	  		</section>
			<section class="pt-lg-60 pb-lg-80 py-40">
				<nav aria-label="breadcrumb" class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html" class="fs-md-16 fs-14">首頁</a></li>
					  	<li class="breadcrumb-item active fs-md-16 fs-14" aria-current="page">公司簡介</li>
					</ol>
			  	</nav>
				<div class="container">
					<h1 class="my-md-48 my-24 fs-5 fs-md-1 text-center text-primary-dark">公司簡介</h1> 
					<div class="row mb-24 mb-lg-60 d-flex align-items-center">
						<div class="col-lg-6">
							<picture class="about-pic d-block h-100 mx-n12 mx-md-0">
								<source media="(min-width: 992px)" srcset="../assets/images/about-1.jpg">
								<img src="../assets/images/about-1-sm.jpg" alt="contact-banner logo" class="w-100 h-100 object-fit-cover ">
							</picture>
						</div>
						<div class="col-lg-6">
							<div class="card border-0">
								<div class="card-body border-0 px-lg-40 px-12 py-24 py-lg-0">
								  <h3 class="card-title mb-md-24 mb-16 fs-5 fs-md-3">關於商淂</h3>
								  <p class="card-text mb-40">成立於2004年一月的商淂是由一群資深的市場研究夥伴基於“不必最大, 但要最好”的共同理念真心誠意而建立的</p>
								  <p class="card-text">同仁為經驗豐富的專業市調管理者，研究範圍遍及全省，於台北、台中、高雄皆設有據點，提供全方位的市場研究服務，以協助客戶制定成功的行銷策略。我們以堅持優越的市調品質、深入對本地市場的深入瞭解，為客戶提供精闢的市場透視及協助客戶制定成功的市場策略。</p>
								</div>
							  </div>
						</div>
					</div>
					<div class="row d-flex flex-row-reverse align-items-center">
						<div class="col-lg-6 ">
							<picture class="about-pic d-block h-100 mx-n12 mx-md-0">
								<source media="(min-width: 992px)" srcset="../assets/images/about-2.jpg">
								<img src="../assets/images/about-2-sm.jpg" alt="contact-banner logo" class="w-100 h-100 object-fit-cover ">
							</picture>
						</div>
						<div class="col-lg-6 ">
							<div class="card border-0">
								<div class="card-body border-0 px-lg-40 px-12 py-24 py-lg-0">
								  <h3 class="card-title mb-md-24 mb-16 fs-5 fs-md-3">商淂的文化及信念</h3>
								  <ul class="card-text d-grid gap-8">
									<li>保持客戶的業務機密是最基本的倫理</li>
									<li>我們重視的是和客戶維持常常久久的良好關係而非一時的利益</li>
									<li>持續進行的業務比突然的一個大案子更有價值</li>
									<li>當客戶的夥伴，和客戶一起成長</li>
								  </ul>
								</div>
							  </div>
						</div>
					</div>					
				</div>				
		  	</section>
			<section class="pt-lg-60 pb-lg-80 py-40 bg-secondary team">
				<div class="container">
					<h3 class="my-md-48 my-24 fs-5 fs-md-3 text-center text-primary-dark">商淂團隊</h3>
					<div class="row justify-content-center">
						<div class="col-xl-10 col-12">
							<div class="card mb-3 bg-secondary h-100 p-md-16 px-0 py-16">
								<div class="row g-0">
								  	<div class="col-md-3 ">
										<div class="d-flex flex-column align-items-center justify-content-center h-100">
											<img src="../assets/images/boy_3.png" class="img-fluid rounded-start py-16 pic" alt="boy logo">
											<div class="text-center d-grid gap-md-12 gap-8">
												<h6>黃志鵬 Paul</h6>
												<p>研究部總監</p>
											</div>	
										</div>																		
								  	</div>
								  	<div class="col-md-9">
										<div class="card-body d-grid gap-8">
											<h6 class="text-center text-md-start">25年的市場研究/市場調查經驗</h6>
											<div>
												<p class="text-primary fw-bold">學歷</p>
												<ul>
													<li>陽明大學  公共衛生研究所碩士</li>
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">經歷</p>
												<ul class="">
													<li>現任：
														<ul class="">
															<li>商淂行銷顧問有限公司 研究部總監</li>
														</ul>
													</li>
													<li>曾任：
														<ul class="">
															<li>樂詣科技顧問公司 執行長</li>
															<li>澄意文創公司 營運長</li>
															<li>瑪麗蓮國際實業公司 副總經理</li>
															<li>尼爾森行銷研究顧問公司 研究副總監</li>
														</ul>
													</li>												
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">專長</p>
												<p>&emsp;&emsp;嫻熟各種調研方法，數據溝通，洞察用戶需求，顧客經營，制定品牌策略，幫助各產業客戶解決在市場上所面臨的議題。超過25年豐富的市場調研及品牌經	驗，是消費者行為研究及品牌經營的專業顧問。</p>
											</div>											
										</div>
								  	</div>
								</div>
							  </div>
						</div>
						<div class="col-xl-10 col-12">
							<div class="card mb-3 bg-secondary h-100 p-md-16 px-0 py-16">
								<div class="row g-0">
								  	<div class="col-md-3">
										<div class="d-flex flex-column align-items-center justify-content-center h-100">
											<img src="../assets/images/boy_3.png" class="img-fluid rounded-start py-16 pic" alt="boy logo">
											<div class="text-center d-grid gap-md-12 gap-8">
												<h6>王政裕 Frank</h6>
												<p>研究部總監</p>
											</div>	
										</div>																		
								  	</div>
								  	<div class="col-md-9">
										<div class="card-body d-grid gap-8">
											<h6 class="text-center text-md-start">23年的市場研究/市場調查經驗</h6>
											<div>
												<p class="text-primary fw-bold">學歷</p>
												<ul>
													<li>國立台灣大學 會計系 學士</li>
													<li>國立台北大學統計系所 碩士</li>
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">經歷</p>
												<ul class="">
													<li>現任：
														<ul class="">
															<li>商淂行銷顧問有限公司 研究部總監</li>
														</ul>
													</li>
													<li>曾任：
														<ul class="">
															<li>RI市場研究公司資深研究員</li>
															<li>易普所市場研究公司資深研究員</li>
															<li>味全食品公司市調組副理</li>
															<li>仁寶電子專案經理</li>
														</ul>
													</li>												
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">專長</p>
												<p>&emsp;&emsp;嫻熟各種調研方法，數據溝通，洞察用戶需求，顧客經營，制定品牌策略，幫助各產業客戶解決在市場上所面臨的議題。超過23年豐富的市場調研及品牌經	驗，是消費者行為研究及品牌經營的專業顧問。</p>
											</div>											
										</div>
								  	</div>
								</div>
							  </div>
						</div>
						<div class="col-xl-10 col-12">
							<div class="card mb-3 bg-secondary h-100 p-md-16 px-0 py-16">
								<div class="row g-0">
								  	<div class="col-md-3">
										<div class="d-flex flex-column align-items-center justify-content-center h-100">
											<img src="../assets/images/girl_2.png" class="img-fluid rounded-start py-16 pic" alt="girl logo">
											<div class="text-center d-grid gap-md-12 gap-8">
												<h6>龔珊珊 ShanShan</h6>
												<p>研究部總監</p>
											</div>	
										</div>																		
								  	</div>
								  	<div class="col-md-9">
										<div class="card-body d-grid gap-8">
											<h6 class="text-center text-md-start">23年的市場研究/市場調查經驗</h6>
											<div>
												<p class="text-primary fw-bold">學歷</p>
												<ul>
													<li>台灣清華大學統計研究所碩士</li>
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">經歷</p>
												<ul class="">
													<li>現任：
														<ul class="">
															<li>商淂行銷顧問有限公司 研究部總監</li>
														</ul>
													</li>
													<li>曾任：
														<ul class="">
															<li>RI 市場研究公司 中國 研究部總監</li>
															<li>TNS市場研究公司 台灣 研究部副總監</li>
														</ul>
													</li>												
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">專長</p>
												<p>&emsp;&emsp;在定性和定量累積了多年的研究經驗，是一位經驗豐富的主持人。執行過的專案有品牌資產及延伸、廣告及媒體溝通測試、產品概念與定位、産品研發設計、品牌及廣告測試、二岸三地的生活形態等。目前服務的產業有快速消費品、汽車、金融、IT、3C商品、女性用品、處方醫藥、OTC產品、電信商品、電競遊戲相關、保健商品、家居商品… 等。</p>
											</div>											
										</div>
								  	</div>
								</div>
							  </div>
						</div>
						<div class="col-xl-10 col-12">
							<div class="card mb-3 bg-secondary h-100 p-md-16 px-0 py-16">
								<div class="row g-0">
								  	<div class="col-md-3">
										<div class="d-flex flex-column align-items-center justify-content-center h-100">
											<img src="../assets/images/girl_2.png" class="img-fluid rounded-start py-16 pic" alt="girl logo">
											<div class="text-center d-grid gap-md-12 gap-8">
												<h6>陳聖叡 Anlica</h6>
												<p>市調部總監</p>
											</div>	
										</div>																		
								  	</div>
								  	<div class="col-md-9">
										<div class="card-body d-grid gap-8">
											<h6 class="text-center text-md-start">25年的市場研究/市場調查經驗</h6>
											<div>
												<p class="text-primary fw-bold">學歷</p>
												<ul>
													<li>國立台北大學企管系所 碩士</li>
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">經歷</p>
												<ul class="">
													<li>現任：
														<ul class="">
															<li>商淂行銷顧問有限公司 市調部總監</li>
														</ul>
													</li>
													<li>曾任：
														<ul class="">
															<li>台灣智商市場研究顧問有限公司副總經理</li>
															<li>偉立市場研究顧問有限公司執行總監</li>
															<li>尼爾森市場研究公司市調部主任</li>
														</ul>
													</li>												
												</ul>
											</div>
											<div>
												<p class="text-primary fw-bold">專長</p>
												<p>&emsp;&emsp;市調品質管理及人員培訓</p>
											</div>											
										</div>
								  	</div>
								</div>
							  </div>
						</div>
					</div>
				</div>
			</section>
			<section class="pt-lg-60 pb-lg-80 py-40">				
				<div class="d-flex align-items-center justify-content-center container position-relative">
					<img src="../assets/images/map.png" alt="map logo" class="map">
					<img src="../assets/images/people-1.png" alt="people logo" class="position-absolute bottom-lg-5 bottom-0 end-5 w-30 px-12">
					<div class="left-text">
						<h4 class="fs-16 fs-md-4">CLT Interviewers</h4>
						<ul class="list-unstyled text-center">
							<li class="fs-12 fs-md-6 fw-bold">全省125位Part-time</li>
							<li class="fs-12 fs-md-6 fw-bold">北部 60位</li>
							<li class="fs-12 fs-md-6 fw-bold">中部 30位</li>
							<li class="fs-12 fs-md-6 fw-bold">南部 35位</li>
							<li class="fs-12 fs-md-6 fw-bold">可同時執行8個點的街訪</li>
						</ul>
					</div>
					<div class="right-text">
						<h4 class="fs-16 fs-md-4">Outdoor Interviewers</h4>
						<ul class="list-unstyled text-center">
							<li class="fs-12 fs-md-6 fw-bold">全省約100位Part-time</li>
							<li class="fs-12 fs-md-6 fw-bold">北部 50位</li>
							<li class="fs-12 fs-md-6 fw-bold">中部 20位</li>
							<li class="fs-12 fs-md-6 fw-bold">南部 30位</li>
						</ul>					
					</div>
					<div class="text-center position-absolute bottom-10 start-20 start-md-30">
						<h4 class="fs-16 fs-md-4">Part time supervisors</h4>
						<p class="fs-12 fs-md-6 fw-bold">全省 10位 可支援個案執行</p>
					</div>
				</div>				
			</section>
      	</main>
      	<%- include('./layout/footer'); -%>

      	<script type="module" src="../main.js"></script>
    </body>
</html>
