<!DOCTYPE html>
<html lang="en">
  	<head>
  	  	<meta charset="UTF-8" />
  	  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	  	<title>首頁 | Sound</title>
  	</head>
	<body>
    <%- include('./layout/header'); -%>
    <main>
		<section class="home-banner position-relative">
			<div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
				<div class="swiper banner-swiper w-100 h-100 ">
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<img src="../assets/images/home-banner-1.jpg" alt="banner logo" class=" object-fit-cover w-100 h-100">
						</div>
						<div class="swiper-slide">
							<img src="../assets/images/home-banner-2.jpg" alt="banner logo" class="  object-fit-cover w-100 h-100">
						</div>
						<div class="swiper-slide">
							<img src="../assets/images/home-banner-3.jpg" alt="banner logo" class="  object-fit-cover w-100 h-100">
						</div>
					</div>				
				</div>
			</div>
			<div class="home-banner-slogan container text-white d-flex flex-column align-items-center align-items-lg-start">
				<h1 class="fs-4 fs-md-2 fs-lg-64 fw-bolder mb-4 mb-lg-5">不必最大，但要最好</h1>
				<h6 class="fs-16 fs-md-5 fs-lg-3 mb-1 mb-lg-2">The Best, But Not Necessarily The Largest</h6>
			</div>			
		</section>
    	<section class="py-lg-80 py-40 ">
			<div class="container">
			<h2 class="mb-lg-40 mb-32 fs-5 fs-md-1 text-center text-primary-dark">用專業的心，做專業的事</h2>
			<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-32 ">
				<div class="col">
					<div class="card border-0 d-flex flex-column align-items-center h-100">
						<img src="../assets/images/circle-1-1.png" class="mb-8" alt="circle-1 logo">
						<div class="card-body border-0">
						  <h4 class="card-title text-center fs-5 fs-md-4 mb-8">效益</h4>
						  <p class="card-text text-center fs-md-6 fs-16">協助客戶了解客層分布及消費習慣</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card border-0 d-flex flex-column align-items-center h-100">
						<img src="../assets/images/circle-2-1.png" class="mb-8" alt="circle-2 logo">
						<div class="card-body border-0">
						  <h4 class="card-title text-center fs-5 fs-md-4 mb-8">及時</h4>
						  <p class="card-text text-center fs-md-6 fs-16">在時限內提供專業的行銷研究</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card border-0 d-flex flex-column align-items-center h-100">
						<img src="../assets/images/circle-3-1.png" class="mb-8" alt="circle-3 logo">
						<div class="card-body border-0">
						  <h4 class="card-title text-center fs-5 fs-md-4 mb-8">保密</h4>
						  <p class="card-text text-center fs-md-6 fs-16">以保密協議書保護該產品概念的商業價值</p>
						</div>
					</div>
				</div>
			</div>
			</div>
    	</section>		
		<section class="py-lg-80 py-40 excellent gradient">
			<div class="container position-relative">
				<h2 class="mb-32 fs-5 fs-md-1 text-center text-primary-dark">商淂優勢</h2>
				<div class="card rounded-12 rounded-md-0 border-0">
					<div class="row g-0">
					  <div class="col-lg-6">
						<img src="../assets/images/sound.png" class="img-fluid ms-xxl-80 ms-xl-40 h-lg-100 h-xl-auto" alt="sound office">
					  </div>
					  <div class="col-lg-6">
						<div class="card-body p-md-32 p-16 bg-white mt-xxl-80 mt-xl-40 me-xxl-80 me-xl-40 shadow d-md-flex flex-column">
							<ul class="list-unstyled mb-auto">
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">從產品市調到後續行銷一條龍服務</li>
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">跨領域研究經驗，包含醫藥、汽車產業等</li>
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">專業評估商品上市的可行性及其商業價值</li>
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">有效鎖定目標客層</li>
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">保密且專業的問卷調查</li>
								<li class="fs-16 fs-md-6 fs-xl-5 ps-32 mb-8">實際訪問並紀錄潛在客戶的使用狀況及心得</li>
							</ul>
							<div class="button mx-auto mt-20">
								<a href="about.html" class="btn btn-m btn-primary blow-up blow-up-m mx-auto">了解更多</a>
							</div>
						</div>
					  </div>
					</div>
				</div>
		</section>
		<section class="py-lg-80 py-40 container statistics">
			<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 gy-24 justify-content-center">
					<div class="col">
						<div class="card shadow border-0 rounded-20">
							<div class="card-body mx-auto p-24">
								<h5 class="card-title text-break text-primary fs-lg-6 fs-18"><span class="fs-2 yearSum ">0</span>&ensp;&ensp;/&ensp; 年</h5>
								<p class="card-text fs-lg-6 fs-18">研究經驗</p>
							</div>							
						</div>
					</div>
					<div class="col">
						<div class="card shadow border-0 rounded-20">
							<div class="card-body mx-auto p-24">
								<h5 class="card-title text-break text-primary fs-lg-6 fs-18"><span class="fs-2 caseSum">0</span>&ensp;&ensp;件</h5>
								<p class="card-text fs-lg-6 fs-18">專案執行</p>
							</div>							
						</div>
					</div>
					<div class="col">
						<div class="card shadow border-0 rounded-20">
							<div class="card-body mx-auto p-24">
							  	<h5 class="card-title text-break text-primary fs-lg-6 fs-18"><span class="fs-2 supervisorSum">0</span>&ensp;&ensp;位</h5>
							  	<p class="card-text fs-lg-6 fs-18">專業督導/訪員</p>
							</div>							
						</div>
					</div>
					<div class="col">
						<div class="card shadow border-0 rounded-20">
							<div class="card-body mx-auto p-24">
							  	<h5 class="card-title text-break text-primary fs-lg-6 fs-18"><span class="fs-2 customerSum">0</span>&ensp;&ensp;家</h5>
							  	<p class="card-text fs-lg-6 fs-18">合作客戶</p>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-lg-80 py-40 container customer">
			<!-- <h2 class="mb-32 fs-5 fs-md-1 text-center text-primary-dark">合作案例</h2> -->
			<div class="swiper customer-swiper">		
				<div class="swiper-wrapper d-flex align-items-center">
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-1.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-2.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-3.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-4.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-5.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-6.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-7.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-8.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-9.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-10.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-11.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
					<div class="swiper-slide d-flex justify-content-center align-items-center">
						<img src="../assets/images/customer/cus-12.png" alt="customer logo" class="object-fit-cover px-32 w-100">
					</div>
				</div>			
			</div>			
		</section>


    <!-- <h1 class="index-title">我是首頁</h1>
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->
  	</main>
    <%- include('./layout/footer'); -%>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
